## 11.1日期和时间数据的类型及工具

In [1]:
from datetime import datetime
import pandas as pd
import numpy as np

In [2]:
now = datetime.now()

In [3]:
now

datetime.datetime(2019, 7, 22, 10, 59, 28, 82782)

In [4]:
now.year, now.month, now.day

(2019, 7, 22)

In [5]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)

In [6]:
delta

datetime.timedelta(days=926, seconds=56700)

In [7]:
delta.days

926

In [8]:
delta.seconds

56700

In [9]:
from datetime import timedelta

In [10]:
start = datetime(2011, 1, 7)

In [11]:
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [12]:
start - 2 * timedelta(12)

datetime.datetime(2010, 12, 14, 0, 0)

### 11.1.1字符串与datetime互相转换

In [13]:
stamp = datetime(2011, 1, 3)

In [14]:
str(stamp)

'2011-01-03 00:00:00'

In [15]:
stamp.strftime('%Y-%m-%d')

'2011-01-03'

In [16]:
stamp

datetime.datetime(2011, 1, 3, 0, 0)

In [17]:
value = '2011-01-03'

In [18]:
datetime.strptime(value, '%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [19]:
datestrs = ['7/6/2011', '8/6/2011']

In [20]:
[datetime.strptime(x, '%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [21]:
from dateutil.parser import parse

In [22]:
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [23]:
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [24]:
parse('6/12/2011', dayfirst=True)

datetime.datetime(2011, 12, 6, 0, 0)

In [25]:
datestrs = ['2011-07-06 12:00:00', '2011-08-06 00:00:00']
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [26]:
idx = pd.to_datetime(datestrs + [None])

In [27]:
idx

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [28]:
idx[2]

NaT

In [29]:
pd.isnull(idx)

array([False, False,  True])

## 11.2 时间序列基础

In [30]:
from datetime import datetime

In [31]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
         datetime(2011, 1, 7), datetime(2011, 1, 8),
         datetime(2011, 1, 10), datetime(2011, 1, 12)]

In [32]:
ts = pd.Series(np.random.randn(6), index=dates)

In [33]:
ts

2011-01-02    1.704795
2011-01-05   -0.498294
2011-01-07    0.973356
2011-01-08   -0.350709
2011-01-10    0.040171
2011-01-12   -0.052831
dtype: float64

In [34]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [35]:
ts + ts[::2]

2011-01-02    3.409590
2011-01-05         NaN
2011-01-07    1.946712
2011-01-08         NaN
2011-01-10    0.080342
2011-01-12         NaN
dtype: float64

In [36]:
ts.index.dtype

dtype('<M8[ns]')

In [37]:
stamp = ts.index[0]

In [38]:
stamp

Timestamp('2011-01-02 00:00:00')

### 11.2.1索引、选择、子集

In [39]:
stamp = ts.index[2]

In [40]:
ts[stamp]

0.9733560677545386

In [41]:
ts['1/10/2011']
ts['20110110']

0.040171111270121164

In [42]:
longer_ts = pd.Series(np.random.randn(1000), index=pd.date_range('1/1/2000', periods=1000))

In [43]:
longer_ts

2000-01-01   -0.072101
2000-01-02   -0.260393
2000-01-03   -0.912485
2000-01-04   -1.342028
2000-01-05   -0.213246
2000-01-06    0.345746
2000-01-07   -1.140183
2000-01-08    0.512350
2000-01-09   -1.433456
2000-01-10    0.612532
2000-01-11   -0.163539
2000-01-12    1.559697
2000-01-13   -1.277023
2000-01-14    1.695878
2000-01-15   -1.213403
2000-01-16    0.232280
2000-01-17    0.550203
2000-01-18    1.988371
2000-01-19    1.732098
2000-01-20    0.550945
2000-01-21    0.044693
2000-01-22    1.584217
2000-01-23    0.057047
2000-01-24    0.872456
2000-01-25    0.549479
2000-01-26    1.932363
2000-01-27   -0.600505
2000-01-28    1.123108
2000-01-29   -0.308675
2000-01-30    1.359246
                ...
2002-08-28   -0.062409
2002-08-29   -0.306348
2002-08-30   -2.701424
2002-08-31   -0.149572
2002-09-01    0.601957
2002-09-02   -0.262493
2002-09-03   -0.410541
2002-09-04   -1.011932
2002-09-05    1.667446
2002-09-06   -2.077645
2002-09-07   -1.407722
2002-09-08   -0.142936
2002-09-09    0.283301
2002-09-10   -0.397288
2002-09-11   -0.078032
2002-09-12   -0.733074
2002-09-13   -0.758959
2002-09-14    0.264852
2002-09-15    0.440639
2002-09-16   -0.669499
2002-09-17   -2.435225
2002-09-18   -0.431603
2002-09-19   -0.313961
2002-09-20   -0.844131
2002-09-21   -0.767599
2002-09-22   -0.625196
2002-09-23    0.190622
2002-09-24    0.992555
2002-09-25   -0.214234
2002-09-26   -0.869307
Freq: D, Length: 1000, dtype: float64

In [44]:
longer_ts['2001']

2001-01-01   -0.192414
2001-01-02   -0.572614
2001-01-03   -0.006710
2001-01-04   -0.192913
2001-01-05    1.172484
2001-01-06   -1.001606
2001-01-07    0.779143
2001-01-08   -1.096395
2001-01-09    0.885924
2001-01-10   -1.892684
2001-01-11   -0.906986
2001-01-12    0.180593
2001-01-13    1.050197
2001-01-14    1.052218
2001-01-15   -1.751578
2001-01-16   -1.201922
2001-01-17   -0.209067
2001-01-18   -1.382318
2001-01-19   -0.461903
2001-01-20   -0.505831
2001-01-21    0.413053
2001-01-22   -0.816987
2001-01-23    0.306480
2001-01-24   -1.040450
2001-01-25   -0.817873
2001-01-26    0.476042
2001-01-27   -0.523232
2001-01-28   -0.238600
2001-01-29    1.778918
2001-01-30    0.153793
                ...
2001-12-02   -1.033286
2001-12-03   -0.389390
2001-12-04   -0.573633
2001-12-05    0.405490
2001-12-06   -0.613859
2001-12-07   -1.085566
2001-12-08   -0.467690
2001-12-09    0.115178
2001-12-10   -1.506859
2001-12-11    0.080930
2001-12-12   -0.403632
2001-12-13   -2.527044
2001-12-14   -1.202291
2001-12-15   -1.050153
2001-12-16   -1.646801
2001-12-17   -1.185599
2001-12-18   -1.027180
2001-12-19   -1.007856
2001-12-20    0.221456
2001-12-21   -0.019588
2001-12-22   -1.429030
2001-12-23    1.009510
2001-12-24    0.169600
2001-12-25    0.559098
2001-12-26    0.203509
2001-12-27    0.837051
2001-12-28   -0.304108
2001-12-29    0.153774
2001-12-30   -1.301917
2001-12-31   -1.013656
Freq: D, Length: 365, dtype: float64

In [45]:
longer_ts['2001-05']

2001-05-01    0.617488
2001-05-02    0.630145
2001-05-03   -0.951014
2001-05-04   -1.325033
2001-05-05   -0.168459
2001-05-06   -0.586611
2001-05-07    0.908713
2001-05-08    1.216878
2001-05-09    2.493245
2001-05-10   -2.298734
2001-05-11   -0.780402
2001-05-12    0.757723
2001-05-13    0.307683
2001-05-14   -0.412473
2001-05-15   -0.091008
2001-05-16   -1.247116
2001-05-17   -1.680763
2001-05-18   -0.697495
2001-05-19    1.669251
2001-05-20   -0.311427
2001-05-21   -0.117356
2001-05-22    0.469723
2001-05-23    0.263500
2001-05-24    1.470100
2001-05-25   -0.148324
2001-05-26   -0.108826
2001-05-27   -2.718945
2001-05-28    0.706427
2001-05-29   -0.945570
2001-05-30    1.926403
2001-05-31   -1.929174
Freq: D, dtype: float64

In [46]:
ts[datetime(2011, 1, 7):]

2011-01-07    0.973356
2011-01-08   -0.350709
2011-01-10    0.040171
2011-01-12   -0.052831
dtype: float64

In [47]:
ts

2011-01-02    1.704795
2011-01-05   -0.498294
2011-01-07    0.973356
2011-01-08   -0.350709
2011-01-10    0.040171
2011-01-12   -0.052831
dtype: float64

In [48]:
ts['1/6/2011': '1/11/2011']

2011-01-07    0.973356
2011-01-08   -0.350709
2011-01-10    0.040171
dtype: float64

In [49]:
ts.truncate(after='1/9/2011')

2011-01-02    1.704795
2011-01-05   -0.498294
2011-01-07    0.973356
2011-01-08   -0.350709
dtype: float64

In [50]:
dates = pd.date_range('1/1/2000', periods=100, freq='W-WED')

In [51]:
long_df = pd.DataFrame(np.random.randn(100, 4),
                      index=dates,
                      columns=['Colorado', 'Texas',
                                'New York', 'Ohio'])

In [52]:
long_df.loc['5-2001']

            Colorado     Texas  New York      Ohio
2001-05-02 -0.348357 -1.104579  1.184920  1.110334
2001-05-09  1.965092 -0.653329 -0.237975 -0.158523
2001-05-16 -1.080199 -0.074150 -2.076424 -1.454259
2001-05-23  0.391946 -1.195607  0.852685 -1.187577
2001-05-30 -0.881798 -0.147958  0.691915  0.003884

In [53]:
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000',
                          '1/2/2000', '1/3/2000'])

In [54]:
dup_ts = pd.Series(np.arange(5), index=dates)

In [55]:
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [56]:
dup_ts.index.is_unique

False

In [57]:
dup_ts['1/3/2000']

4

In [58]:
dup_ts['1/2/2000']

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int32

In [59]:
grouped = dup_ts.groupby(level=0)

In [60]:
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int32

In [61]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

## 11.3日期范围、频率和位移

In [62]:
ts

2011-01-02    1.704795
2011-01-05   -0.498294
2011-01-07    0.973356
2011-01-08   -0.350709
2011-01-10    0.040171
2011-01-12   -0.052831
dtype: float64

In [63]:
resampler = ts.resample('D')

### 11.3.1生成日期范围

In [64]:
index = pd.date_range('2012-04-01', '2012-06-01')

In [65]:
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [66]:
pd.date_range(start='2012-04-01', periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [67]:
pd.date_range(end='2012-06-01',periods=20)

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [68]:
pd.date_range('2000-01-01', '2000-12-01', freq='BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [69]:
pd.date_range('2012-05-02 12:56:31', periods=5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [70]:
pd.date_range('2012-05-02 12:56:31', periods=5, normalize=True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

### 11.3.2频率和日期偏置

In [71]:
from pandas.tseries.offsets import Hour, Minute

In [72]:
hour = Hour()

In [73]:
hour

In [74]:
four_hours = Hour(4)

In [75]:
four_hours

In [76]:
pd.date_range('2000-01-01', '2000-01-03 23:59', freq='4h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [77]:
Hour(2) + Minute(30)

In [78]:
pd.date_range('2000-01-01', periods=10, freq='1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

In [79]:
rng = pd.date_range('2012-01-01', '2012-09-01', freq='WOM-3FRI')

In [80]:
rng

DatetimeIndex(['2012-01-20', '2012-02-17', '2012-03-16', '2012-04-20',
               '2012-05-18', '2012-06-15', '2012-07-20', '2012-08-17'],
              dtype='datetime64[ns]', freq='WOM-3FRI')

In [81]:
list(rng)

[Timestamp('2012-01-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-02-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-03-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-04-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-05-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-06-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-07-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-08-17 00:00:00', freq='WOM-3FRI')]

### 11.3.3 位移（前向和后向）日期

In [82]:
ts = pd.Series(np.random.randn(4),
              index=pd.date_range('1/1/2000', periods=4, freq='M'))

In [83]:
ts

2000-01-31    0.091185
2000-02-29    0.344276
2000-03-31    0.100632
2000-04-30   -0.482361
Freq: M, dtype: float64

In [84]:
ts.shift(2)

2000-01-31         NaN
2000-02-29         NaN
2000-03-31    0.091185
2000-04-30    0.344276
Freq: M, dtype: float64

In [85]:
ts.shift(-2)

2000-01-31    0.100632
2000-02-29   -0.482361
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [86]:
ts / ts.shift(1)  - 1

2000-01-31         NaN
2000-02-29    2.775594
2000-03-31   -0.707700
2000-04-30   -5.793327
Freq: M, dtype: float64

In [87]:
ts.shift(2, freq='M')

2000-03-31    0.091185
2000-04-30    0.344276
2000-05-31    0.100632
2000-06-30   -0.482361
Freq: M, dtype: float64

In [88]:
ts.shift(3, freq='D')

2000-02-03    0.091185
2000-03-03    0.344276
2000-04-03    0.100632
2000-05-03   -0.482361
dtype: float64

In [89]:
ts.shift(1, freq='90T')

2000-01-31 01:30:00    0.091185
2000-02-29 01:30:00    0.344276
2000-03-31 01:30:00    0.100632
2000-04-30 01:30:00   -0.482361
Freq: M, dtype: float64

#### 11.3.3.1使用偏置进行位移日期

In [90]:
from pandas.tseries.offsets import Day, MonthEnd

In [91]:
datetime.now()

datetime.datetime(2019, 7, 22, 10, 59, 29, 625870)

In [92]:
now = datetime(2011, 11, 17)

In [93]:
now + 3 * Day()

Timestamp('2011-11-20 00:00:00')

In [94]:
now + MonthEnd()

Timestamp('2011-11-30 00:00:00')

In [95]:
now + MonthEnd(2)

Timestamp('2011-12-31 00:00:00')

In [96]:
offset = MonthEnd()

In [97]:
offset.rollforward(now)

Timestamp('2011-11-30 00:00:00')

In [98]:
offset.rollback(now)

Timestamp('2011-10-31 00:00:00')

In [99]:
ts = pd.Series(np.random.randn(20),
              index=pd.date_range('1/15/2000', periods=20, freq='4d'))

In [100]:
ts

2000-01-15    0.431100
2000-01-19    0.806862
2000-01-23   -0.015208
2000-01-27    0.807881
2000-01-31   -0.854723
2000-02-04   -0.054188
2000-02-08   -0.441996
2000-02-12   -0.078749
2000-02-16   -1.340094
2000-02-20   -1.026301
2000-02-24   -0.806262
2000-02-28    0.779642
2000-03-03   -1.456167
2000-03-07    0.295821
2000-03-11   -0.038125
2000-03-15   -0.119094
2000-03-19   -1.995672
2000-03-23   -0.020050
2000-03-27   -0.534669
2000-03-31    0.810716
Freq: 4D, dtype: float64

In [101]:
ts.groupby(offset.rollforward).mean()

2000-01-31    0.235182
2000-02-29   -0.423993
2000-03-31   -0.382155
dtype: float64

In [102]:
ts.resample('M').mean()

2000-01-31    0.235182
2000-02-29   -0.423993
2000-03-31   -0.382155
Freq: M, dtype: float64

## 11.4时区处理

In [103]:
conda install pytz

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\ProgramData\Anaconda3

  added / updated specs:
    - pytz


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    conda-4.7.10               |           py37_0         3.0 MB
    ------------------------------------------------------------
                                           Total:         3.0 MB

The following packages will be UPDATED:

  conda                                        4.7.5-py37_0 --> 4.7.10-py37_0



Downloading and Extracting Packages

conda-4.7.10         | 3.0 MB    |            |   0%
conda-4.7.10         | 3.0 MB    |            |   1%
conda-4.7.10         | 3.0 MB    | 1          |   2%
conda-4.7.10         | 3.0 MB    | 4          |   4%
conda-4.7.10         | 3.0 MB    | 6          |   7%
conda-4.7.10         | 3.0 MB    | 7          |   8%
conda-4.7.10         | 3.0 MB    | 8          |   9%
conda-4.7.10         | 3.0 MB    | 9          |  10%
conda-4.7.10         | 3.0 MB    | #1         |  12%
conda-4.7.10         | 3.0 MB    | #3         |  13%
conda-4.7.10         | 3.0 MB    | #4         |  14%
conda-4.7.10         | 3.0 MB    | #5         |  15%
conda-4.7.10         | 3.0 MB    | #6         |  16%
conda-4.7.10         | 3.0 MB    | #7         |  17%
conda-4.7.10         | 3.0 MB    | #8         |  18%
conda-4.7.10         | 3.0 MB    | #9         |  19%
conda-4.7.10         | 3.0 MB    | ##         |  20%
conda-4.7.10         | 3.0 MB    | ##1        |  22%
conda-4.7.10         | 3.0 MB    | ##3        |  24%
conda-4.7.10         | 3.0 MB    | ##4        |  25%
conda-4.7.10         | 3.0 MB    | ##5        |  26%
conda-4.7.10         | 3.0 MB    | ##6        |  27%
conda-4.7.10         | 3.0 MB    | ##8        |  28%
conda-4.7.10         | 3.0 MB    | ##9        |  29%
conda-4.7.10         | 3.0 MB    | ###        |  30%
conda-4.7.10         | 3.0 MB    | ###1       |  31%
conda-4.7.10         | 3.0 MB    | ###2       |  33%
conda-4.7.10         | 3.0 MB    | ###3       |  34%
conda-4.7.10         | 3.0 MB    | ###5       |  35%
conda-4.7.10         | 3.0 MB    | ###6       |  36%
conda-4.7.10         | 3.0 MB    | ###7       |  38%
conda-4.7.10         | 3.0 MB    | ####1      |  42%
conda-4.7.10         | 3.0 MB    | ####2      |  43%
conda-4.7.10         | 3.0 MB    | ####3      |  44%
conda-4.7.10         | 3.0 MB    | ####4      |  45%
conda-4.7.10         | 3.0 MB    | ####6      |  46%
conda-4.7.10         | 3.0 MB    | ####8      |  48%
conda-4.7.10         | 3.0 MB    | ####9      |  49%
conda-4.7.10         | 3.0 MB    | #####      |  50%
conda-4.7.10         | 3.0 MB    | #####1     |  51%
conda-4.7.10         | 3.0 MB    | #####3     |  53%
conda-4.7.10         | 3.0 MB    | #####3     |  54%
conda-4.7.10         | 3.0 MB    | #####5     |  55%
conda-4.7.10         | 3.0 MB    | #####6     |  56%
conda-4.7.10         | 3.0 MB    | #####7     |  57%
conda-4.7.10         | 3.0 MB    | #####8     |  58%
conda-4.7.10         | 3.0 MB    | #####9     |  60%
conda-4.7.10         | 3.0 MB    | ######     |  61%
conda-4.7.10         | 3.0 MB    | ######1    |  62%
conda-4.7.10         | 3.0 MB    | ######3    |  63%
conda-4.7.10         | 3.0 MB    | ######5    |  65%
conda-4.7.10         | 3.0 MB    | ######6    |  66%
conda-4.7.10         | 3.0 MB    | ######7    |  68%
conda-4.7.10         | 3.0 MB    | ######8    |  69%
conda-4.7.10         | 3.0 MB    | ######9    |  70%
conda-4.7.10         | 3.0 MB    | #######    |  71%
conda-4.7.10         | 3.0 MB    | #######2   |  72%
conda-4.7.10         | 3.0 MB    | #######3   |  73%
conda-4.7.10         | 3.0 MB    | #######3   |  74%
conda-4.7.10         | 3.0 MB    | #######4   |  74%
conda-4.7.10         | 3.0 MB    | #######5   |  76%
conda-4.7.10         | 3.0 MB    | #######6   |  77%
conda-4.7.10         | 3.0 MB    | #######7   |  78%
conda-4.7.10         | 3.0 MB    | #######8   |  79%
conda-4.7.10         | 3.0 MB    | #######9   |  79%
conda-4.7.10         | 3.0 MB    | ########   |  80%
conda-4.7.10         | 3.0 MB    | ########   |  81%
conda-4.7.10         | 3.0 MB    | ########1  |  81%
conda-4.7.10         | 3.0 MB    | ########1  |  82%
conda-4.7.10         | 3.0 MB    | ########2  |  82%
conda-4.7.10         | 3.0 MB    | ########4  |  84%
conda-4.7.10         | 3.0 MB    | ########4  |  85%
conda-4.7.10         | 3.0 MB    | ########5  |  85%
conda-4.7.10         | 3.0 MB    | ########5  |  86%
conda-4.7.10         | 3.0 MB    | ########6  |  87%
conda-4.7.10         | 3.0 MB    | ########7  |  88%
conda-4.7.10         | 3.0 MB    | ########8  |  88%
conda-4.7.10         | 3.0 MB    | ########9  |  89%
conda-4.7.10         | 3.0 MB    | #########  |  91%
conda-4.7.10         | 3.0 MB    | #########1 |  91%
conda-4.7.10         | 3.0 MB    | #########2 |  92%
conda-4.7.10         | 3.0 MB    | #########2 |  93%
conda-4.7.10         | 3.0 MB    | #########3 |  93%
conda-4.7.10         | 3.0 MB    | #########4 |  94%
conda-4.7.10         | 3.0 MB    | #########4 |  95%
conda-4.7.10         | 3.0 MB    | #########5 |  96%
conda-4.7.10         | 3.0 MB    | #########6 |  96%
conda-4.7.10         | 3.0 MB    | #########6 |  97%
conda-4.7.10         | 3.0 MB    | #########7 |  97%
conda-4.7.10         | 3.0 MB    | #########7 |  98%
conda-4.7.10         | 3.0 MB    | #########8 |  99%
conda-4.7.10         | 3.0 MB    | #########9 | 100%
conda-4.7.10         | 3.0 MB    | ########## | 100%
Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

Note: you may need to restart the kernel to use updated packages.

WARNING conda.core.package_cache_data:_make_single_record(350): Encountered corrupt package tarball at C:\ProgramData\Anaconda3\pkgs\conda-4.7.9-py37_0.tar.bz2. Conda has removed it, but you need to re-run conda to download it again.

In [104]:
import pytz

In [105]:
pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [106]:
tz = pytz.timezone('America/New_York')

In [107]:
tz

### 11.4.1时区的本地化和转换

In [108]:
rng = pd.date_range('3/9/2012 9:30', periods=6, freq='D')

In [109]:
ts = pd.Series(np.random.randn(len(rng)), index=rng)

In [110]:
ts

2012-03-09 09:30:00   -1.474993
2012-03-10 09:30:00   -1.146907
2012-03-11 09:30:00    0.115177
2012-03-12 09:30:00    1.383984
2012-03-13 09:30:00    1.311808
2012-03-14 09:30:00    2.066030
Freq: D, dtype: float64

In [112]:
print(ts.index.tz)

None

In [113]:
rng = pd.date_range('3/9/2012 9:30', periods=6, freq='D', tz='UTC')

In [114]:
rng

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [115]:
ts

2012-03-09 09:30:00   -1.474993
2012-03-10 09:30:00   -1.146907
2012-03-11 09:30:00    0.115177
2012-03-12 09:30:00    1.383984
2012-03-13 09:30:00    1.311808
2012-03-14 09:30:00    2.066030
Freq: D, dtype: float64

In [116]:
ts_utc = ts.tz_localize('UTC')

In [117]:
ts_utc

2012-03-09 09:30:00+00:00   -1.474993
2012-03-10 09:30:00+00:00   -1.146907
2012-03-11 09:30:00+00:00    0.115177
2012-03-12 09:30:00+00:00    1.383984
2012-03-13 09:30:00+00:00    1.311808
2012-03-14 09:30:00+00:00    2.066030
Freq: D, dtype: float64

In [118]:
ts_utc.tz_convert('America/New_York')

2012-03-09 04:30:00-05:00   -1.474993
2012-03-10 04:30:00-05:00   -1.146907
2012-03-11 05:30:00-04:00    0.115177
2012-03-12 05:30:00-04:00    1.383984
2012-03-13 05:30:00-04:00    1.311808
2012-03-14 05:30:00-04:00    2.066030
Freq: D, dtype: float64

In [119]:
ts_eastern = ts.tz_localize('America/New_York')

In [120]:
ts_eastern.tz_convert('UTC')

2012-03-09 14:30:00+00:00   -1.474993
2012-03-10 14:30:00+00:00   -1.146907
2012-03-11 13:30:00+00:00    0.115177
2012-03-12 13:30:00+00:00    1.383984
2012-03-13 13:30:00+00:00    1.311808
2012-03-14 13:30:00+00:00    2.066030
Freq: D, dtype: float64

In [121]:
ts_eastern

2012-03-09 09:30:00-05:00   -1.474993
2012-03-10 09:30:00-05:00   -1.146907
2012-03-11 09:30:00-04:00    0.115177
2012-03-12 09:30:00-04:00    1.383984
2012-03-13 09:30:00-04:00    1.311808
2012-03-14 09:30:00-04:00    2.066030
Freq: D, dtype: float64

In [122]:
ts.index.tz_localize('Asia/Shanghai')

DatetimeIndex(['2012-03-09 09:30:00+08:00', '2012-03-10 09:30:00+08:00',
               '2012-03-11 09:30:00+08:00', '2012-03-12 09:30:00+08:00',
               '2012-03-13 09:30:00+08:00', '2012-03-14 09:30:00+08:00'],
              dtype='datetime64[ns, Asia/Shanghai]', freq='D')

### 11.4.2 时区感知时间戳对象的操作