In [1]:
import pandas as pd
import numpy as np
import patsy

In [83]:
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [2]:
data = pd.DataFrame({
        'x0': [1, 2, 3, 4, 5],
    'x1': [0.01, -0.01, 0.25, -4.1, 0.],
    'y': [-1.5, 0., 3.6, 1.3, -2.]})

In [3]:
data

   x0    x1    y
0   1  0.01 -1.5
1   2 -0.01  0.0
2   3  0.25  3.6
3   4 -4.10  1.3
4   5  0.00 -2.0

In [4]:
data.columns

Index(['x0', 'x1', 'y'], dtype='object')

In [5]:
data.values

array([[ 1.  ,  0.01, -1.5 ],
       [ 2.  , -0.01,  0.  ],
       [ 3.  ,  0.25,  3.6 ],
       [ 4.  , -4.1 ,  1.3 ],
       [ 5.  ,  0.  , -2.  ]])

In [6]:
df2 = pd.DataFrame(data.values, columns=['one', 'two', 'three'])

In [7]:
df2

   one   two  three
0  1.0  0.01   -1.5
1  2.0 -0.01    0.0
2  3.0  0.25    3.6
3  4.0 -4.10    1.3
4  5.0  0.00   -2.0

In [8]:
df3 = data.copy()

In [9]:
df3['strings'] = ['a', 'b', 'c', 'd', 'e']

In [13]:
df3.values

array([[1, 0.01, -1.5, 'a'],
       [2, -0.01, 0.0, 'b'],
       [3, 0.25, 3.6, 'c'],
       [4, -4.1, 1.3, 'd'],
       [5, 0.0, -2.0, 'e']], dtype=object)

In [14]:
model_cols = ['x0', 'x1']

In [17]:
data.loc[:, model_cols].values

array([[ 1.  ,  0.01],
       [ 2.  , -0.01],
       [ 3.  ,  0.25],
       [ 4.  , -4.1 ],
       [ 5.  ,  0.  ]])

In [22]:
data['category'] = pd.Categorical(['a', 'b', 'a', 'a', 'b'],
                                  categories=['a', 'b'])
data

   x0    x1    y category
0   1  0.01 -1.5        a
1   2 -0.01  0.0        b
2   3  0.25  3.6        a
3   4 -4.10  1.3        a
4   5  0.00 -2.0        b

In [23]:
dummies = pd.get_dummies(data.category, prefix='category')

In [25]:
data_with_dummies = data.drop('category', axis=1).join(dummies)

In [26]:
data_with_dummies

   x0    x1    y  category_a  category_b
0   1  0.01 -1.5           1           0
1   2 -0.01  0.0           0           1
2   3  0.25  3.6           1           0
3   4 -4.10  1.3           1           0
4   5  0.00 -2.0           0           1

In [2]:
data = pd.DataFrame({
    'x0': [1, 2, 3, 4, 5],
    'x1': [0.01, -0.01, 0.25, -4.1, 0.],
    'y': [-1.5, 0., 3.6, 1.3, -2.]})

In [3]:
data

   x0    x1    y
0   1  0.01 -1.5
1   2 -0.01  0.0
2   3  0.25  3.6
3   4 -4.10  1.3
4   5  0.00 -2.0

In [6]:
y, X = patsy.patsy.dmatrices('y ~ x0 + x1 + 0', data)[1]('y~x0 + x1', data)

In [5]:
y

DesignMatrix with shape (5, 1)
     y
  -1.5
   0.0
   3.6
   1.3
  -2.0
  Terms:
    'y' (column 0)

In [7]:
X

DesignMatrix with shape (5, 3)
  Intercept  x0     x1
          1   1   0.01
          1   2  -0.01
          1   3   0.25
          1   4  -4.10
          1   5   0.00
  Terms:
    'Intercept' (column 0)
    'x0' (column 1)
    'x1' (column 2)

In [8]:
np.asarray(y)

array([[-1.5],
       [ 0. ],
       [ 3.6],
       [ 1.3],
       [-2. ]])

In [9]:
np.asarray(X)

array([[ 1.  ,  1.  ,  0.01],
       [ 1.  ,  2.  , -0.01],
       [ 1.  ,  3.  ,  0.25],
       [ 1.  ,  4.  , -4.1 ],
       [ 1.  ,  5.  ,  0.  ]])

In [10]:
patsy.dmatrices('y ~ x0 + x1 + 0', data)

(DesignMatrix with shape (5, 1)
      y
   -1.5
    0.0
    3.6
    1.3
   -2.0
   Terms:
     'y' (column 0),
 DesignMatrix with shape (5, 2)
   x0     x1
    1   0.01
    2  -0.01
    3   0.25
    4  -4.10
    5   0.00
   Terms:
     'x0' (column 0)
     'x1' (column 1))

In [14]:
patsy.dmatrices('y ~ x0 + x1 + 0', data)[1]

DesignMatrix with shape (5, 2)
  x0     x1
   1   0.01
   2  -0.01
   3   0.25
   4  -4.10
   5   0.00
  Terms:
    'x0' (column 0)
    'x1' (column 1)

In [21]:
coef, resid, _, _ = np.linalg.lstsq(X, y)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: `rcond` parameter will change to the default of machine precision times ``max(M, N)`` where M and N are the input matrix dimensions.
To use the future default and silence this warning we advise to pass `rcond=None`, to keep using the old, explicitly pass `rcond=-1`.
  """Entry point for launching an IPython kernel.

In [22]:
coef

array([[ 0.31290976],
       [-0.07910564],
       [-0.26546384]])

In [23]:
coef = pd.Series(coef.squeeze(), index=X.design_info.column_names)

In [24]:
coef

Intercept    0.312910
x0          -0.079106
x1          -0.265464
dtype: float64

### 13.2.1 Patsy公式中的数据转换

In [25]:
y, X = patsy.dmatrices('y~x0 + np.log(np.abs(x1) + 1)', data)

In [26]:
X

DesignMatrix with shape (5, 3)
  Intercept  x0  np.log(np.abs(x1) + 1)
          1   1                 0.00995
          1   2                 0.00995
          1   3                 0.22314
          1   4                 1.62924
          1   5                 0.00000
  Terms:
    'Intercept' (column 0)
    'x0' (column 1)
    'np.log(np.abs(x1) + 1)' (column 2)

In [27]:
y, X = patsy.dmatrices('y~standardize(x0) + center(x1)', data)

In [28]:
X

DesignMatrix with shape (5, 3)
  Intercept  standardize(x0)  center(x1)
          1         -1.41421        0.78
          1         -0.70711        0.76
          1          0.00000        1.02
          1          0.70711       -3.33
          1          1.41421        0.77
  Terms:
    'Intercept' (column 0)
    'standardize(x0)' (column 1)
    'center(x1)' (column 2)

In [29]:
new_data = pd.DataFrame({
    'x0': [6, 7, 8, 9],
    'x1': [3.1, -0.5, 0, 2.3],
    'y': [1, 2, 3, 4]})

In [30]:
new_data = patsy.build_design_matrices([X.design_info], new_data)

In [31]:
new_data

[DesignMatrix with shape (4, 3)
   Intercept  standardize(x0)  center(x1)
           1          2.12132        3.87
           1          2.82843        0.27
           1          3.53553        0.77
           1          4.24264        3.07
   Terms:
     'Intercept' (column 0)
     'standardize(x0)' (column 1)
     'center(x1)' (column 2)]

In [32]:
y, X = patsy.dmatrices('y~I(x0 + x1)', data)

In [33]:
X

DesignMatrix with shape (5, 2)
  Intercept  I(x0 + x1)
          1        1.01
          1        1.99
          1        3.25
          1       -0.10
          1        5.00
  Terms:
    'Intercept' (column 0)
    'I(x0 + x1)' (column 1)

### 13.2.2 分类数据与Patsy

In [35]:
data = pd.DataFrame({
    'key1': ['a', 'a', 'b', 'b', 'a', 'b', 'a', 'b'],
    'key2': [0, 1, 0, 1, 0, 1, 0, 0],
    'v1': [1, 2, 3, 4, 5, 6, 7, 8],
    'v2': [-1, 0, 2.5, -0.5, 4.0, -1.2, 0.2, -1.7]
})

In [36]:
y, X = patsy.dmatrices('v2~key1', data)

In [39]:
X

DesignMatrix with shape (8, 2)
  Intercept  key1[T.b]
          1          0
          1          0
          1          1
          1          1
          1          0
          1          1
          1          0
          1          1
  Terms:
    'Intercept' (column 0)
    'key1' (column 1)

In [40]:
y, X = patsy.dmatrices('v2 ~ key1 + 0', data)

In [42]:
X

DesignMatrix with shape (8, 2)
  key1[a]  key1[b]
        1        0
        1        0
        0        1
        0        1
        1        0
        0        1
        1        0
        0        1
  Terms:
    'key1' (columns 0:2)

In [45]:
y, X = patsy.dmatrices('v2 ~ C(key2)', data)

In [44]:
X

DesignMatrix with shape (8, 2)
  Intercept  key2
          1     0
          1     1
          1     0
          1     1
          1     0
          1     1
          1     0
          1     0
  Terms:
    'Intercept' (column 0)
    'key2' (column 1)

In [46]:
X

DesignMatrix with shape (8, 2)
  Intercept  C(key2)[T.1]
          1             0
          1             1
          1             0
          1             1
          1             0
          1             1
          1             0
          1             0
  Terms:
    'Intercept' (column 0)
    'C(key2)' (column 1)

In [47]:
data['key2'] = data['key2'].map({0: 'zero', 1: 'one'})

In [48]:
data

  key1  key2  v1   v2
0    a  zero   1 -1.0
1    a   one   2  0.0
2    b  zero   3  2.5
3    b   one   4 -0.5
4    a  zero   5  4.0
5    b   one   6 -1.2
6    a  zero   7  0.2
7    b  zero   8 -1.7

In [49]:
y, X = patsy.dmatrices('v2~key1 + key2', data)

In [50]:
X

DesignMatrix with shape (8, 3)
  Intercept  key1[T.b]  key2[T.zero]
          1          0             1
          1          0             0
          1          1             1
          1          1             0
          1          0             1
          1          1             0
          1          0             1
          1          1             1
  Terms:
    'Intercept' (column 0)
    'key1' (column 1)
    'key2' (column 2)

In [51]:
y, X = patsy.dmatrices('y~key1 + key2 + key1:key2', data)

In [52]:
X

DesignMatrix with shape (8, 4)
  Intercept  key1[T.b]  key2[T.zero]  key1[T.b]:key2[T.zero]
          1          0             1                       0
          1          0             0                       0
          1          1             1                       1
          1          1             0                       0
          1          0             1                       0
          1          1             0                       0
          1          0             1                       0
          1          1             1                       1
  Terms:
    'Intercept' (column 0)
    'key1' (column 1)
    'key2' (column 2)
    'key1:key2' (column 3)

### 13.3.1 评估线性模型

In [85]:
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [58]:
def dnorm(mean, variance, size=1):
    if isinstance(size, int):
        size = size,
    return mean + np.sqrt(variance) * np.random.randn(*size)
# 用于复现
np.random.seed(12345)
N = 100
X = np.c_[dnorm(0, 0.4, size=N),
          dnorm(0, 0.6, size=N),
          dnorm(0, 0.2, size=N)]
eps = dnorm(0, 0.1, size=N)
beta = [0.1, 0.3, 0.5]
y = np.dot(X, beta) + eps

In [59]:
X[:5]

array([[-0.12946849, -1.21275292,  0.50422488],
       [ 0.30291036, -0.43574176, -0.25417986],
       [-0.32852189, -0.02530153,  0.13835097],
       [-0.35147471, -0.71960511, -0.25821463],
       [ 1.2432688 , -0.37379916, -0.52262905]])

In [60]:
y[:5]

array([ 0.42786349, -0.67348041, -0.09087764, -0.48949442, -0.12894109])

In [62]:
X_model = sm.add_constant(X)

In [63]:
X_model

array([[ 1.00000000e+00, -1.29468492e-01, -1.21275292e+00,
         5.04224878e-01],
       [ 1.00000000e+00,  3.02910364e-01, -4.35741756e-01,
        -2.54179861e-01],
       [ 1.00000000e+00, -3.28521889e-01, -2.53015334e-02,
         1.38350968e-01],
       [ 1.00000000e+00, -3.51474705e-01, -7.19605110e-01,
        -2.58214633e-01],
       [ 1.00000000e+00,  1.24326880e+00, -3.73799164e-01,
        -5.22629046e-01],
       [ 1.00000000e+00,  8.81267227e-01, -2.80898544e-02,
        -3.68960148e-01],
       [ 1.00000000e+00,  5.87601006e-02,  8.48485492e-01,
        -1.18261588e+00],
       [ 1.00000000e+00,  1.78191913e-01,  7.59823931e-01,
        -6.84173312e-02],
       [ 1.00000000e+00,  4.86372577e-01, -4.56615198e-01,
        -3.36269295e-01],
       [ 1.00000000e+00,  7.88314544e-01,  1.22517962e+00,
        -5.93046604e-02],
       [ 1.00000000e+00,  6.37002481e-01, -4.09556235e-01,
         6.51724241e-01],
       [ 1.00000000e+00, -8.19802211e-01,  3.53992127e-01,
         2.72581984e-01],
       [ 1.00000000e+00,  1.73919980e-01,  7.20350703e-01,
        -2.20824797e-01],
       [ 1.00000000e+00,  1.44777217e-01, -1.21555178e+00,
         5.54535862e-01],
       [ 1.00000000e+00,  8.55659737e-01, -7.92015008e-01,
        -6.06967863e-02],
       [ 1.00000000e+00,  5.60627140e-01, -3.12028394e-01,
         6.39534138e-01],
       [ 1.00000000e+00, -1.26594659e+00,  1.70788390e-01,
        -3.78723930e-01],
       [ 1.00000000e+00, -2.35173870e-01, -1.49807854e-01,
         2.69795970e-01],
       [ 1.00000000e+00,  1.05558429e+00,  5.18327819e-01,
         5.65086692e-01],
       [ 1.00000000e+00, -2.77375856e-01, -1.27729815e+00,
        -1.14258850e-01],
       [ 1.00000000e+00, -3.41362463e-01, -1.74500924e+00,
        -1.99317903e-01],
       [ 1.00000000e+00,  3.01671809e-01, -9.03824348e-01,
         2.09459948e-01],
       [ 1.00000000e+00,  2.05481256e+00,  2.73902883e-01,
        -4.30042348e-01],
       [ 1.00000000e+00, -6.45880997e-01,  5.43852200e-01,
        -8.15943234e-01],
       [ 1.00000000e+00, -3.64982057e-01, -2.12680391e-01,
         2.79699975e-01],
       [ 1.00000000e+00,  7.85011874e-02, -1.07779075e-01,
         4.57442437e-01],
       [ 1.00000000e+00,  1.91389621e-01,  8.33909252e-02,
         4.95255337e-01],
       [ 1.00000000e+00,  3.31262542e-01, -4.69827834e-01,
         4.06683027e-02],
       [ 1.00000000e+00,  5.94683881e-04, -3.23056701e-01,
        -1.56573351e-01],
       [ 1.00000000e+00,  8.49899938e-01, -1.31735941e-02,
         9.74733410e-02],
       [ 1.00000000e+00, -4.51284841e-01, -9.48218860e-01,
        -4.00172597e-01],
       [ 1.00000000e+00, -5.25667654e-01, -1.39492460e+00,
        -7.78819773e-01],
       [ 1.00000000e+00, -1.49906612e+00,  1.26626122e+00,
        -4.70583073e-01],
       [ 1.00000000e+00, -1.17684845e+00,  7.66082537e-01,
         6.42468297e-01],
       [ 1.00000000e+00, -5.44390778e-01,  3.54718910e-01,
        -2.57687777e-01],
       [ 1.00000000e+00,  3.54266989e-01,  4.30020757e-01,
        -1.08238857e+00],
       [ 1.00000000e+00, -8.00647272e-01,  1.01218075e+00,
        -4.75088253e-01],
       [ 1.00000000e+00,  7.57853279e-02, -3.41251328e-01,
         1.06156103e-01],
       [ 1.00000000e+00, -6.72624331e-01, -2.33424923e-01,
         4.28148461e-04],
       [ 1.00000000e+00,  2.10533515e-01,  3.86362227e-01,
         2.91821096e-02],
       [ 1.00000000e+00, -1.49222748e+00, -6.38260715e-01,
        -6.11575372e-01],
       [ 1.00000000e+00, -1.26202046e-01,  1.02290590e+00,
        -1.35416509e-02],
       [ 1.00000000e+00, -9.75243602e-01,  3.93467831e-01,
         4.20599611e-01],
       [ 1.00000000e+00, -6.13947298e-01, -5.06150647e-01,
        -2.87306449e-01],
       [ 1.00000000e+00, -8.26638513e-01,  1.44833709e-01,
         4.65182301e-01],
       [ 1.00000000e+00,  1.81103482e-01, -3.03429073e-01,
        -4.84297556e-01],
       [ 1.00000000e+00,  2.39058142e-01, -2.10917232e-01,
         1.91950152e-01],
       [ 1.00000000e+00, -4.76799709e-01, -1.32776989e-02,
        -1.05642436e-01],
       [ 1.00000000e+00,  2.09523442e-01,  5.26974186e-01,
         2.87029653e-01],
       [ 1.00000000e+00,  8.53651930e-01,  4.92265755e-01,
        -1.48323110e-01],
       [ 1.00000000e+00,  4.41938984e-02, -5.86506397e-01,
         6.23448053e-01],
       [ 1.00000000e+00,  1.56010405e-01,  5.56226896e-01,
        -4.81533636e-01],
       [ 1.00000000e+00, -7.50193522e-03, -2.35688911e-01,
        -8.60734038e-02],
       [ 1.00000000e+00,  6.35498649e-01, -1.29961074e+00,
        -3.89606962e-01],
       [ 1.00000000e+00,  8.39391576e-01,  3.30741999e-01,
         1.88210735e-01],
       [ 1.00000000e+00, -5.81392058e-01, -1.21126768e+00,
        -5.41759499e-01],
       [ 1.00000000e+00, -9.79740937e-01, -2.84654610e-01,
        -1.15768803e-01],
       [ 1.00000000e+00,  1.40307721e-02,  8.10160365e-01,
        -2.60120379e-01],
       [ 1.00000000e+00,  4.79630966e-01,  9.44972588e-01,
        -5.63677241e-01],
       [ 1.00000000e+00, -4.17752265e-01, -1.91866910e-01,
         2.07764164e-01],
       [ 1.00000000e+00,  5.45543545e-01, -3.22412023e-01,
        -4.78626284e-01],
       [ 1.00000000e+00, -6.34473197e-03, -9.04318406e-02,
         3.59659324e-01],
       [ 1.00000000e+00,  3.16286938e-02, -1.42896634e+00,
        -7.00942499e-02],
       [ 1.00000000e+00,  4.23881560e-01,  1.60241421e+00,
         8.99073745e-01],
       [ 1.00000000e+00,  5.39462453e-01, -6.01836417e-01,
        -3.96725162e-01],
       [ 1.00000000e+00, -6.04544544e-01,  1.11554846e+00,
        -4.37346379e-01],
       [ 1.00000000e+00, -1.48584806e-02, -8.56373625e-02,
        -1.19503232e-01],
       [ 1.00000000e+00, -1.45732546e+00,  9.50729878e-01,
         2.16155245e-01],
       [ 1.00000000e+00, -4.12657528e-01,  1.48783309e+00,
        -1.79034241e-01],
       [ 1.00000000e+00, -7.70521825e-01,  5.78184545e-01,
         2.01192638e-01],
       [ 1.00000000e+00, -8.42816382e-01,  1.72321391e+00,
         1.78703849e-01],
       [ 1.00000000e+00,  6.79651065e-01, -5.26261295e-01,
        -6.77863130e-02],
       [ 1.00000000e+00,  4.57671073e-01,  5.63417436e-01,
        -1.14394289e+00],
       [ 1.00000000e+00,  4.36395489e-01, -6.72915933e-01,
         7.19150055e-02],
       [ 1.00000000e+00,  6.33431691e-01, -9.40244868e-01,
         3.42230507e-02],
       [ 1.00000000e+00, -3.18180404e-01, -3.64549152e-01,
        -1.32913744e-01],
       [ 1.00000000e+00, -3.93560776e-01, -7.12041557e-01,
        -5.78816940e-01],
       [ 1.00000000e+00, -5.82598182e-01, -6.49752359e-01,
        -3.95864536e-01],
       [ 1.00000000e+00, -4.59297741e-01,  3.37069850e-01,
        -8.38509956e-02],
       [ 1.00000000e+00,  1.40971521e-01, -4.32073676e-01,
        -2.20726742e-01],
       [ 1.00000000e+00,  3.24551519e-02, -4.39548653e-01,
        -5.16142466e-02],
       [ 1.00000000e+00, -7.32206081e-01, -2.88646906e-01,
        -1.56857757e-01],
       [ 1.00000000e+00,  5.16530820e-01, -7.17707890e-01,
         1.99892744e-02],
       [ 1.00000000e+00,  2.74238794e-01,  1.35950111e+00,
        -4.01488830e-01],
       [ 1.00000000e+00,  6.39246173e-01,  9.37114786e-01,
         3.98410742e-01],
       [ 1.00000000e+00,  1.15415242e+00,  9.83756927e-01,
        -5.14825657e-01],
       [ 1.00000000e+00, -6.30885934e-01, -7.54750051e-01,
        -1.16825729e+00],
       [ 1.00000000e+00,  5.37961046e-01, -4.91643675e-01,
         5.10382601e-01],
       [ 1.00000000e+00, -8.32169818e-02, -3.06508485e-01,
        -3.87794796e-01],
       [ 1.00000000e+00,  5.77061378e-01, -2.24196084e-01,
         1.71543648e-01],
       [ 1.00000000e+00,  1.19034886e-01, -5.68784066e-01,
        -1.95445831e-01],
       [ 1.00000000e+00,  1.37208789e+00, -5.64297298e-01,
         1.55401720e-01],
       [ 1.00000000e+00, -7.26869788e-02,  6.49712378e-01,
        -5.50152791e-01],
       [ 1.00000000e+00,  1.26724948e+00,  2.06734594e-01,
         2.55393908e-01],
       [ 1.00000000e+00,  1.87271046e-02,  5.58634733e-01,
         2.68601909e-02],
       [ 1.00000000e+00,  5.02962258e-01,  7.05644120e-01,
        -1.00857396e-01],
       [ 1.00000000e+00,  7.46991671e-02, -7.90787764e-01,
         6.03615880e-01],
       [ 1.00000000e+00, -4.73412919e-01, -1.09482736e+00,
         6.03872399e-01],
       [ 1.00000000e+00,  3.69967347e-01,  1.00434812e+00,
        -1.72916622e-01],
       [ 1.00000000e+00,  9.65611431e-02,  1.95411537e-01,
         3.87282297e-01]])

In [64]:
model = sm.OLS(y, X)

In [65]:
model

In [66]:
results = model.fit()

In [68]:
results.params

array([0.17826108, 0.22303962, 0.50095093])

In [69]:
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.430
Model:                            OLS   Adj. R-squared:                  0.413
Method:                 Least Squares   F-statistic:                     24.42
Date:                Wed, 24 Jul 2019   Prob (F-statistic):           7.44e-12
Time:                        21:39:46   Log-Likelihood:                -34.305
No. Observations:                 100   AIC:                             74.61
Df Residuals:                      97   BIC:                             82.42
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1             0.1783      0.053      3.364      0.001       0.073       0.283
x2             0.2230      0.046      4.818      0.000       0.131       0.315
x3             0.5010      0.080      6.237      0.000       0.342       0.660
==============================================================================
Omnibus:                        4.662   Durbin-Watson:                   2.201
Prob(Omnibus):                  0.097   Jarque-Bera (JB):                4.098
Skew:                           0.481   Prob(JB):                        0.129
Kurtosis:                       3.243   Cond. No.                         1.74
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [78]:
data = pd.DataFrame(X, columns=['col0', 'col1', 'col2'])

In [79]:
data['y'] = y

In [80]:
data[:5]

       col0      col1      col2         y
0 -0.129468 -1.212753  0.504225  0.427863
1  0.302910 -0.435742 -0.254180 -0.673480
2 -0.328522 -0.025302  0.138351 -0.090878
3 -0.351475 -0.719605 -0.258215 -0.489494
4  1.243269 -0.373799 -0.522629 -0.128941

In [91]:
results = smf.ols('y ~ col0 + col1 + col2', data=data).fit()

In [94]:
results.params

Intercept    0.033559
col0         0.176149
col1         0.224826
col2         0.514808
dtype: float64

In [95]:
results.tvalues

Intercept    0.952188
col0         3.319754
col1         4.850730
col2         6.303971
dtype: float64

### 13.3.2 评估时间序列处理

In [96]:
init_x = 4
import random
values = [init_x, init_x]
N = 1000
b0 = 0.8
b1 = -0.4
noise = dnorm(0, 0.1, N)
for i in range(N):
    new_x = values[-1] * b0 + values[-2] * b1 + noise[i]
    values.append(new_x)

In [97]:
MAXLAGS = 5

In [98]:
model = sm.tsa.AR(values)

In [99]:
results = model.fit(MAXLAGS)

In [100]:
results.params

array([-0.00616093,  0.78446347, -0.40847891, -0.01364148,  0.01496872,
        0.01429462])

## 13.4scikit-learn介绍

In [124]:
train = pd.read_csv('G:/python/pydata-book-2nd-edition/datasets/titanic/train.csv')

In [125]:
test = pd.read_csv('G:/python/pydata-book-2nd-edition/datasets/titanic/test.csv')

In [104]:
trian[:4]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S

In [126]:
train.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [106]:
test.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [127]:
impute_value = train['Age'].median()

In [128]:
train['Age'] = train['Age'].fillna(impute_value)

In [129]:
test['Age'] = test['Age'].fillna(impute_value)

In [135]:
train['IsFemale'] = (train['Sex'] == 'female').astype(int)
test['IsFemale'] = (test['Sex'] == 'female').astype(int)

In [137]:
predictors = ['Pclass', 'IsFemale', 'Age']

In [139]:
X_train = train[predictors].values

In [140]:
X_text = train[predictors].values

In [141]:
y_train = train['Survived'].values

In [142]:
X_train[:5]

array([[ 3.,  0., 22.],
       [ 1.,  1., 38.],
       [ 3.,  1., 26.],
       [ 1.,  1., 35.],
       [ 3.,  0., 35.]])

In [143]:
y_train[:5]

array([0, 1, 1, 1, 0], dtype=int64)

In [144]:
from sklearn.linear_model import LogisticRegression

In [145]:
model = LogisticRegression()

In [146]:
model.fit(X_train, y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [147]:
y_predict = model.predict(X_text)

In [148]:
y_predict[:10]

array([0, 1, 1, 1, 0, 0, 0, 0, 1, 1], dtype=int64)

In [150]:
from sklearn.linear_model import LogisticRegressionCV

In [151]:
model_cv = LogisticRegressionCV(10)

In [152]:
model_cv.fit(X_train, y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:2053: FutureWarning: You should specify a value for 'cv' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(CV_WARNING, FutureWarning)

LogisticRegressionCV(Cs=10, class_weight=None, cv='warn', dual=False,
           fit_intercept=True, intercept_scaling=1.0, max_iter=100,
           multi_class='warn', n_jobs=None, penalty='l2',
           random_state=None, refit=True, scoring=None, solver='lbfgs',
           tol=0.0001, verbose=0)

In [154]:
from sklearn.model_selection import cross_val_score

In [155]:
model = LogisticRegression(C=10)

In [156]:
scores = cross_val_score(model, X_train, y_train, cv=4)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [157]:
scores

array([0.77232143, 0.80269058, 0.77027027, 0.78828829])